{% load static %}
<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="utf-8">
  <title>Ana Sayfa</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- theme meta -->
  <meta name="theme-name" content="godocs" />
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- plugins -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{%static "nova_temp2/plugins/themify-icons/themify-icons.css"%}">
  <!-- Main Stylesheet -->
  <link href="{%static "nova_temp2/css/style.css"%}" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="{%static "nova_temp2/images/favicon.ico" %}" type="image/x-icon">
  <link rel="icon" href="{%static "nova_temp2/images/favicon.ico" %}" type="image/x-icon">

</head>

<body>

<header class="sticky-top navigation">
  <div class=container>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class=navbar-brand href="index.html"><img class="img-fluid" src="{%static "nova_temp2/images/logo.png" %}" alt="godocs"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-align-right h4 text-dark"></i></button>
      <div class="collapse navbar-collapse text-center" id=navigation>
        <ul class="navbar-nav mx-auto align-items-center">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Inner Page</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Search Page</a></li>
        </ul>
        <a href="#" class="btn btn-sm btn-outline-primary ml-lg-4">changelog</a>
        <a href="#" class="btn btn-sm btn-primary ml-lg-4">contact</a>
      </div>
    </nav>
  </div>
</header>

<!-- banner -->
<section class="section pb-0">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-7 text-center text-lg-left">
        <h1 class="mb-4">Documentation Theme By Themefisher Team</h1>
        <p class="mb-4">Lorem ipsum dolor amet, consetetur sadiffspscing elitr, diam nonumy invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua At.</p>
        <form class="search-wrapper">
          <input id="search-by" name="s" type="search" class="form-control form-control-lg"
            placeholder="Search Here...">
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
      <div class="col-lg-4 d-lg-block d-none">
        <img src="{%static "nova_temp2/images/banner.jpg"%} " alt="illustration" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- /banner -->

<!-- topics -->
<section class="section pb-0">
  <div class="container">
    <h2 class="section-title">Browse Your Topics</h2>
    <div class="row">
      <!-- topic -->
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card match-height">
          <div class="card-body">
            <i class="card-icon ti-panel mb-4"></i>
            <h3 class="card-title h4">Basic Startup</h3>
            <p class="card-text">Cras at dolor eget urna varius faucibus tempus in elit dolor sit amet.</p>
            <a href="list.html" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- topic -->
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card match-height">
          <div class="card-body">
            <i class="card-icon ti-credit-card mb-4"></i>
            <h3 class="card-title h4">Account Bill</h3>
            <p class="card-text">Cras at dolor eget urna varius faucibus tempus in elit dolor sit amet.</p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- topic -->
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card match-height">
          <div class="card-body">
            <i class="card-icon ti-package mb-4"></i>
            <h3 class="card-title h4">Our Features</h3>
            <p class="card-text">Cras at dolor eget urna varius faucibus tempus in elit dolor sit amet.</p>
            <a href="list.html" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- topic -->
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card match-height">
          <div class="card-body">
            <i class="card-icon ti-settings mb-4"></i>
            <h3 class="card-title h4">Theme Facility</h3>
            <p class="card-text">Cras at dolor eget urna varius faucibus tempus in elit dolor sit amet.</p>
            <a href="list.html" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /topics -->

<!-- faq -->
<section class="section pb-0">
  <div class="container">
    <h2 class="section-title">Mostly Asked Questions</h2>
    <div class="row masonry-wrapper">
      <!-- faq item -->
      <div class="col-md-6 mb-4">
        <div class="card card-lg">
          <div class="card-body">
            <h3 class="card-title h5">Will updates also be free?</h3>
            <p class="card-text content">Lorem, <a href="#">link</a> <em>ipsum</em> dolor sit amet consectetur adipisicing elit. Cumque praesentium nisi officiis maiores quia sapiente totam omnis vel sequi corporis ipsa incidunt reprehenderit recusandae maxime perspiciatis iste placeat architecto, mollitia delectus ut ab quibusdam. Magnam cumque numquam tempore reprehenderit illo, unde cum omnis vel sed temporibus. mollitia delectus ut ab quibusdam. Magnam cumque numquam tempore reprehenderit illo, unde cum
              omnis vel sed temporibus. mollitia delectus ut ab quibusdam. Magnam cumque numquam tempore reprehenderit
              illo, unde cum omnis vel sed temporibus.</p>
          </div>
        </div>
      </div>
      <!-- faq item -->
      <div class="col-md-6 mb-4">
        <div class="card card-lg">
          <div class="card-body">
            <h3 class="card-title h5">Discounts for students and Non Profit Organizations?</h3>
            <p class="card-text content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque praesentium
              nisi officiis maiores quia sapiente totam omnis vel sequi corporis ipsa incidunt reprehenderit recusandae
              maxime perspiciatis iste placeat architecto.</p>
          </div>
        </div>
      </div>
      <!-- faq item -->
      <div class="col-md-6 mb-4">
        <div class="card card-lg">
          <div class="card-body">
            <h3 class="card-title h5">I need something unique, Can you make it?</h3>
            <p class="card-text content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque praesentium
              nisi officiis maiores quia sapiente totam omnis vel sequi corporis ipsa incidunt reprehenderit recusandae
              maxime perspiciatis iste placeat architecto, mollitia delectus <a href="#">link</a>
              ut ab quibusdam. Magnam cumque numquam tempore reprehenderit illo, unde cum omnis vel sed temporibus,
              repudiandae impedit nam ad enim porro, qui labore fugiat quod suscipit fuga necessitatibus. Perferendis,
              ipsum?</p>
          </div>
        </div>
      </div>
      <!-- faq item -->
      <div class="col-md-6 mb-4">
        <div class="card card-lg">
          <div class="card-body">
            <h3 class="card-title h5">Is there any documentation and support?</h3>
            <p class="card-text content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque praesentium
              nisi officiis maiores quia sapiente totam omnis vel sequi corporis ipsa incidunt reprehenderit recusandae
              maxime perspiciatis iste placeat architecto, mollitia delectus <a href="#">link</a>
              ut ab quibusdam.</p>
          </div>
        </div>
      </div>
      <!-- faq item -->
      <div class="col-md-6 mb-4">
        <div class="card card-lg">
          <div class="card-body">
            <h3 class="card-title h5">Any refunds?</h3>
            <p class="card-text content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque praesentium
              nisi officiis maiores quia sapiente totam omnis vel sequi corporis ipsa incidunt reprehenderit recusandae
              maxime perspiciatis iste placeat architecto.</p>
          </div>
        </div>
      </div>
      <!-- faq item -->
      <div class="col-md-6 mb-4">
        <div class="card card-lg">
          <div class="card-body">
            <h3 class="card-title h5">What is a product key?</h3>
            <p class="card-text content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque praesentium
              nisi officiis maiores quia sapiente totam omnis vel sequi corporis ipsa incidunt</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /faq -->

<!-- call to action -->
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-center d-lg-block d-none">
        <img src="{%static "nova_temp2/images/cta-illustration.jpg"%}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 text-lg-left text-center">
        <h2 class="mb-3">Still Didn&rsquo;t Find Your Answer?</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam <br> nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
        <a href="#" class="btn btn-primary">Submit a ticket</a>
      </div>
    </div>
  </div>
</section>
<!-- /call to action -->

<footer>
  <div class="container">
    <div class="row align-items-center border-bottom py-5">
      <div class="col-lg-4">
        <ul class="list-inline footer-menu text-center text-lg-left">
          <li class="list-inline-item"><a href="#">Changelog</a></li>
          <li class="list-inline-item"><a href="#">contact</a></li>
          <li class="list-inline-item"><a href="#">Search</a></li>
        </ul>
      </div>
      <div class="col-lg-4 text-center mb-4 mb-lg-0">
        <a class="navbar-brand" href="index.html">
          <img class="img-fluid" src="{%static "nova_temp2/images/logo.png"%}" alt="Hugo documentation theme">
        </a>
      </div>
      <div class="col-lg-4">
        <ul class="list-inline social-icons text-lg-right text-center">
          <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="ti-github"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="py-4 text-center">
      <small class="text-light">Copyright © 2023</small>
    </div>
  </div>
</footer>

<!-- plugins -->
<script src="{%static "nova_temp2/plugins/jQuery/jquery.min.js"%}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{%static "nova_temp2/plugins/masonry/masonry.min.js"%}"></script>
<script src="{%static "nova_temp2/plugins/clipboard/clipboard.min.js"%}"></script>
<script src="{%static "nova_temp2/plugins/match-height/jquery.matchHeight-min.js"%}"></script>

<!-- Main Script -->
<script src="{%static "nova_temp2/js/script.js" %}"></script>

</body>
</html>
